.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-inline: 60px;
    padding-bottom: 260px;
    

    &-list{
        display: flex;
        gap: 15px;
        justify-content: end;
        align-items: center;

        font-weight: 700;
        font-size: 1rem;
        line-height: 1.25;
        text-align: right;
        color: #FFFFFF;
    }


    &-info{
        margin-bottom: 18.5px;
  
        &-adress{
            font-weight: 400;
        }
    }

    &-item--active{
        background-color: #F0145A;
        border-radius: 8px;
        padding: 5px 10px;
        }


    &-dot{
        position: relative;
    }

    &-dot::after{
        content: "";
        position: absolute;
        display: inline-block;
        width: 6px;
        height: 6px;
        background-color: #E6E6F0;
        border-radius: 50%;
        translate: -10% -50%;
        top: 50%;
        right: -10px;
    
    }

}






