*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

ol, ul {
	list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
    margin: auto;
    max-width: 1440px;
    // width: 100%;
}

.bckg-gradient{
  background: rgb(50,50,100);
  background: linear-gradient(90deg, rgba(50,50,100,1) 0%, rgba(50,50,100,1) 60%, rgba(100,62,114,1) 100%);

}


.text-header{
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.2;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

}

.section-labels{
font-weight: 700;
font-size: 0.85rem;
line-height: 1.15;
color: #24A3FF;
}

 